repos:
  - repo: local
    hooks:
      - id: auto-doc
        language: python
        name: Generate doc
        entry: python .github/generate-doc.py
        always_run: true
        require_serial: true
        verbose: true

  - repo: https://github.com/executablebooks/mdformat
    rev: 1.0.0
    hooks:
      - id: mdformat
        additional_dependencies:
          - mdformat-gfm
          - mdformat-black
        always_run: true
        require_serial: true
        files: '^docs/.*\.md$'

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
        always_run: true
        require_serial: true
        files: 'docs.*\.md$'
      - id: trailing-whitespace
        always_run: true
        require_serial: true
        files: 'docs.*\.md$'

  - repo: https://github.com/rhysd/actionlint/
    rev: v1.7.10
    hooks:
      - id: actionlint
        always_run: true
